*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 680px;
    display: grid;
     gap: 10px;
     grid-template-columns: 1fr 3fr 1.5fr;
    /* background-color: aquamarine; */
    grid-template-rows: 1fr 3fr 1fr;
    border-radius: 1rem;
    /* padding: 1rem; */
    margin: 1rem;
    /* justify-items: center; */
    text-align: center;
    
 }
.box1{
    background-color: antiquewhite;
    /* align-self: center; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#box1{
     
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    background-color: rgb(175, 132, 75);
    border-radius: .5rem;



}
#box2{

  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-color: rgba(55, 206, 55, 0.642);
  border-radius: .5rem;


}

#box3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(230, 170, 124);
    border-radius: .5rem;
  
}

#box4{

     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 2;
     grid-row-end: 3;
    background-color: rgb(47, 104, 183);
    border-radius: .5rem;


}
#box5{

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(93, 229, 202);
    border-radius: .5rem;


}