*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-family: 'Cardo', serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif; */

main{
    position: relative;
}
.product_container{

    display: flex;
    flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     width: 80%;
     gap: 1rem;
     padding-top: 1rem;
     margin: 0 auto;
     padding: .3rem 1rem;
     

}
.cable_img{
    width: 250px;
    height: 150px;
    border-radius: 1rem;
    /* margin-top: .3rem; */
}
.card1{

    text-align: center;
    
    background-color: rgba(120, 191, 243, 0.336);
    border-radius: 2rem;
    /* width: 30%; */
    padding: .8rem;
    position: relative;
}


.card1 a{

    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
}
.card1_title{
    font-family: 'Cardo', serif;
    font-weight: bold;
    font-size: 2rem;
}

.large{

    position: absolute;
    top: 1rem;
    left: 14rem;
}

.price_text{
  margin: .7rem;
}
.cart_lists{
    border: 1px solid black;
    border-radius: 0.5rem;
    /* margin: 1rem; */
    background-color: azure;
    border-style: none;
    padding: .4rem;
    font-weight: 400;
    
}
.cart_lists:hover{
  
    background-color: aquamarine;
    
}


/* card styles ends here  */

/* review styles starts here  */

.checked {
    color: orange;
  }


  .reviews_card{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 243, 243);
     border-radius: 2rem;
     text-align: center;
     line-height: 1.8;
     /* width: 30%; */
     padding: 1.5rem;

     /* height: 35vh; */
      /* margin-top: 2.3rem;
     margin-left: .5rem; */
     /* margin: 0 auto; */

  }
  .review_img{
    display: flex;
    justify-content: space-evenly;
    /* margin: 1rem; */
    /* padding: 1rem; */
    align-items: center;
    justify-content: center;
  }
  

/* payment card starts here  */
  .payment_card{

    padding: 2rem 3rem;
    background-color: rgb(230, 241, 250);
    border-radius: 1rem;
    line-height: 1.5;
  }
  .payment_btn{
    margin-top: .5rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: none;
    background: #4C6FFF;

    color: white;
  }

  /* products lists starts here  */
.product_lists_container{
    background-color: whitesmoke;
    border-radius: 1rem;
    margin-bottom: 1rem;
}
  .product_lists{

    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .lists_flex{

    display: flex;
    justify-content: space-between;
    
  }
  .rounded_num{

    border-radius: .8rem;

    background-color: rgb(213, 233, 233);
    padding: .2rem;
    margin: .3rem;
  }
.round1{
    border-radius: .8rem;
    background-color:  #4C6FFF;
    padding: .3rem;
    margin: .5rem;
    color: white;
}

/* payments cards styles starts here  */
.payment_card_container{

  padding: 1rem;
  background-color: rgba(239, 235, 235, 0.241);
  margin: .4rem;
  border-radius: 1rem;
  

}
.payment_methods{

  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
}
.edit_btn{
    background-color: white;
    background: none;
    border: none;
    color: #4C6FFF;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}


.payment_cards{
  padding: 1rem;
}
.card{
  display: flex;
  padding: 1rem;
  align-content: center;
  justify-content: center;
 
   /* margin: 0 1rem; */
   background-color: rgba(213, 233, 233, 0.399);
   margin: .5rem;
   border-radius: 1rem;
   /* text-align: center; */

}
.payment_heading{
  font-weight: 550;
  font-family: 'Inter', sans-serif;
}
.payment_text h2{
  
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  /* text-align: center; */

}
.card_mrgn{
  
  margin-left: 1.2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  line-height: 1.3;


}
.card_img{
  /* margin: 0 auto; */
  /* padding:  1rem 0; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.paymnt_btn{
 /* margin-top: .2rem; */
  text-align: center;
}
.payment_button{

  width: 86%;
  background: #4C6FFF;
  border-radius: 1rem;
  text-align: center;
  padding: .7rem .5rem;
  color: white;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  border: none;
  font-size: 1rem;

}